<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @NavPages.AdminNavClass(ViewContext)" id="admin" asp-page="./Admin">Admin</a></li>
    <li class="nav-item"><a class="nav-link @NavPages.StewardNavClass(ViewContext)" id="steward" asp-page="./Steward">Steward</a></li>
    <li class="nav-item"><a class="nav-link @NavPages.TeacherNavClass(ViewContext)" id="teacher" asp-page="./Teacher">Teacher</a></li>
    <li class="nav-item"><a class="nav-link @NavPages.LibrarianNavClass(ViewContext)" id="librarian" asp-page="./Librarian">Librarian</a></li>
    <li class="nav-item"><a class="nav-link @NavPages.ParentNavClass(ViewContext)" id="personal-data" asp-page="./Parent">Parent</a></li>
</ul>