@*<ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link @NavPages.AdminNavClass(ViewContext)" id="admin" asp-page="/Roles">Адміністратор</a></li>
        <li class="nav-item"><a class="nav-link @NavPages.StewardNavClass(ViewContext)" id="steward" asp-page="/Steward">Завгосп</a></li>
        <li class="nav-item"><a class="nav-link @NavPages.TeacherNavClass(ViewContext)" id="teacher" asp-page="/Teacher">Вчитель</a></li>
        <li class="nav-item"><a class="nav-link @NavPages.LibrarianNavClass(ViewContext)" id="librarian" asp-page="/Librarian">Бібліотекар</a></li>
        <li class="nav-item"><a class="nav-link @NavPages.ParentNavClass(ViewContext)" id="parent" asp-page="/Parent">Батьки</a></li>
    </ul>*@

<div class="container-fluid">
    <div class="row">
        <div class="w-100">
            <!-- menu -->
            <div id="MainMenu">
                <div class="list-group panel">

                    @if (ViewContext.HttpContext.User.IsInRole("Адміністратор"))
                    {<a href="#sub1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Адміністратор</a>
                        <div class="collapse" id="sub1">
                            <a class="ml-3 list-group-item" asp-page="/Admin/Roles">Повноваження</a>
                        </div>
                        <div class="collapse" id="sub1">
                            <a class="ml-3 list-group-item" asp-page="/Admin/TimeTable">Розклад</a>
                        </div>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Завгосп"))
                    {
                        <a href="#sub2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Завгосп</a>
                        <div class="collapse @NavPages.StewardNavClassShow(ViewContext)" id="sub2">
                            <a class="ml-3 list-group-item @NavPages.StewardNavClass(ViewContext)" asp-page="/Steward/Steward">Меню</a>
                        </div>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Вчитель"))
                    {
                        <a href="#sub3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Вчитель</a>
                        <div class="collapse @NavPages.TeacherNavClassShow(ViewContext)" id="sub3">
                            <a class="ml-3 list-group-item @NavPages.TeacherNavClass(ViewContext)" asp-page="/Teacher/Teacher">Меню</a>
                        </div>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Бібліотекар"))
                    {
                        <a href="#sub4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Бібліотекар</a>
                        <div class="collapse @NavPages.LibrarianNavClassShow(ViewContext)" id="sub4">
                            <a class="ml-3 list-group-item @NavPages.LibrarianNavClass(ViewContext)" asp-page="/Librarian/Librarian">Меню</a>
                        </div>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Батьки"))
                    {
                        <a href="#sub5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Батьки</a>
                        <div class="collapse @NavPages.ParentNavClassShow(ViewContext)" id="sub5">
                            <a class="ml-3 list-group-item @NavPages.ParentNavClass(ViewContext)" asp-page="/Parent/Parent">Меню</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*backup of old menu with active highlight*@
@*@if (ViewContext.HttpContext.User.IsInRole("Адміністратор"))
{<a href="#sub1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Адміністратор</a>
    <div class="collapse @NavPages.RolesNavClassShow(ViewContext)" id="sub1">
        <a class="ml-3 list-group-item @NavPages.RolesNavClass(ViewContext)" asp-page="/Admin/Roles">Повноваження</a>
    </div>
    <div class="collapse" id="sub1">
        <a class="ml-3 list-group-item" asp-page="/Admin/TimeTable">Розклад</a>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Завгосп"))
{
    <a href="#sub2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Завгосп</a>
    <div class="collapse @NavPages.StewardNavClassShow(ViewContext)" id="sub2">
        <a class="ml-3 list-group-item @NavPages.StewardNavClass(ViewContext)" asp-page="/Steward/Steward">Меню</a>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Вчитель"))
{
    <a href="#sub3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Вчитель</a>
    <div class="collapse @NavPages.TeacherNavClassShow(ViewContext)" id="sub3">
        <a class="ml-3 list-group-item @NavPages.TeacherNavClass(ViewContext)" asp-page="/Teacher/Teacher">Меню</a>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Бібліотекар"))
{
    <a href="#sub4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Бібліотекар</a>
    <div class="collapse @NavPages.LibrarianNavClassShow(ViewContext)" id="sub4">
        <a class="ml-3 list-group-item @NavPages.LibrarianNavClass(ViewContext)" asp-page="/Librarian/Librarian">Меню</a>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Батьки"))
{
    <a href="#sub5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#MainMenu"><i class="fa" aria-hidden="true"></i> Батьки</a>
    <div class="collapse @NavPages.ParentNavClassShow(ViewContext)" id="sub5">
        <a class="ml-3 list-group-item @NavPages.ParentNavClass(ViewContext)" asp-page="/Parent/Parent">Меню</a>
    </div>
}*@


@*accordeon alternative menu idea*@
@*<div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa" aria-hidden="true"></i>
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <a class="list-group-item" asp-page="/Roles">Налаштування повноважень</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa" aria-hidden="true"></i>
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <a class="list-group-item" asp-page="/Roles">Налаштування повноважень</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa" aria-hidden="true"></i>
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <a class="list-group-item" asp-page="/Roles">Налаштування повноважень</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@