@page
@model sms.Pages.Grades.DetailsModel

@{
    ViewData["Title"] = "Деталі";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>Клас</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Letter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Letter)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grade.Id">Редагувати</a> |
    <a asp-page="./Index">Назад</a>
</div>
