@page
@model sms.Pages.Grades.IndexModel

@{
    ViewData["Title"] = "Список класів";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список класів</h1>

<p>
    <a asp-page="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].Letter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Grade) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letter)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
