@page
@model sms.Pages.Dictionary.Curricula.DeleteModel

@{
    ViewData["Title"] = "Видалити";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити це?</h3>
<div>
    <h4>Навантаження</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculum.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curriculum.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculum.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curriculum.Grade.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculum.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curriculum.Subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculum.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curriculum.Teacher.FullName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Curriculum.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index"
           asp-route-gradeId="@Model.Curriculum.GradeId"
           asp-route-pageIndex="@Model.PageIndex"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter">
            Назад
        </a>
    </form>
</div>
