@page
@model sms.Pages.Test.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Slot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Grade.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Teacher.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lesson.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
