@page
@model sms.Pages.Library.DetailsModel

@{
    ViewData["Title"] = "Читачі з книгою";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Читачі з книгою</h1>

<div>
    <h4>Книга: @Model.Book.Author @Model.Book.Name для @Model.Book.Grade кл. (@Model.Book.PublishingHouse, @Model.Book.Year) - @Model.Book.Qty/@Model.Book.TotalQty примірників</h4>
    <hr />
</div>
<table class="table table-responsive">
    <thead style="text-align: center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ПІБ читача</th>
            <th scope="col">Посада</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0; }
        @for (var reader = 0; reader < Model.readers.Count; reader++)
        {
            <tr>
                @{i++;}
                <th scope="row">@i</th>
                <td>
                    @Model.readers[reader].Name
                </td>
                <td>
                    @Model.readers[reader].Type
                </td>
                <td style="text-align:center">
                    <form method="post">
                        <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                        @if (Model.readers[reader].Type == Type.Вчитель)
                        {
                            <input type="hidden" name="teacherId" asp-for="@Model.readers[reader].Id" />
                        }
                        else
                        {
                            <input type="hidden" name="studentId" asp-for="@Model.readers[reader].Id" />
                        }
                        <input type="submit" value="Повернути" class="btn btn-primary btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Редагувати</a> |
    <a asp-page="./Index">Назад</a>
</div>
