@page
@model sms.Pages.Library.DetailsModel

@{
    ViewData["Title"] = "Читачі з книгою";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Читачі з книгою</h1>

<div>
    <h4>Книга: @Model.Book.Author "@Model.Book.Name. @Model.Book.Grade кл." (@Model.Book.PublishingHouse, @Model.Book.Year) - @Model.Book.Qty/@Model.Book.TotalQty примірників</h4>
    <hr />
    <form asp-page="./Details" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук" />
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button> |
                <a asp-page="./Details" asp-route-id="@Model.Book.Id" class="btn btn-default"><i class="fas fa-times"></i></a>
            </p>
        </div>
    </form>
    <table class="table table-responsive">
        <thead style="text-align: center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ПІБ читача</th>
                <th scope="col">Посада</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @for (var reader = 0; reader < Model.readers.Count; reader++)
            {
                <tr>
                    @{i++;}
                    <th scope="row">@i</th>
                    <td>
                        <a asp-page="./Details"
                           asp-route-sortOrder="@Model.NameSort"
                           asp-route-id="@Model.Book.Id">
                            @Model.readers[reader].Name
                        </a>
                    </td>
                    <td>
                        <a asp-page="./Details"
                           asp-route-sortOrder="@Model.PositionSort"
                           asp-route-id="@Model.Book.Id">
                            @Model.readers[reader].Type
                        </a>
                    </td>
                    <td style="text-align:center">
                        <form method="post">
                            <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                            @if (Model.readers[reader].Type == Type.Вчитель)
                            {
                                <input type="hidden" name="teacherId" asp-for="@Model.readers[reader].Id" />
                            }
                            else
                            {
                                <input type="hidden" name="studentId" asp-for="@Model.readers[reader].Id" />
                            }
                            <input type="submit" value="Повернути" class="btn btn-primary btn-sm" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Редагувати</a> |
    <a asp-page="./Index">Назад</a>
</div>
