@page
@model sms.Pages.Library.LendStudentModel

@{
    ViewData["Title"] = "Видача і повернення книг";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Видача і повернення книг</h1>

<div>
    <h4><a asp-page="./Details" asp-route-id="@Model.Book.Id"><i class="fas fa-book-reader fa-lg mr-1"></i></a>Книга: @Model.Book.Author "@Model.Book.Name. @Model.Book.Grade кл." (@Model.Book.PublishingHouse, @Model.Book.Year) - @Model.Book.Qty/@Model.Book.TotalQty примірників</h4>
    <hr />
    <form method="get">
        <div class="form-group">
            <label asp-for="selectedGrade" class="control-label"><i class="fas fa-users"></i></label>
            <select asp-for="selectedGrade" name="gradeId" style="width:auto" asp-items="Model.GradesSL" onchange="this.form.submit();"></select>
            <input type="hidden" name="id" asp-for="@Model.Book.Id" />
            <a asp-page="./LendTeacher" asp-route-id="@Model.selectedGrade" class="ml-1">Видача книг персоналу</a>
        </div>
    </form>
    <form asp-page="./LendStudent" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук" />
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button> |
                <a asp-page="./LendStudent" 
                   asp-route-id="@Model.Book.Id" 
                   asp-route-gradeId="@Model.Book.Id" class="btn btn-default"><i class="fas fa-times"></i></a>
            </p>
        </div>
    </form>

    <table class="table table-responsive text-nowrap">
        <thead style="text-align: center">
            <tr>
                <th>
                    <a asp-page="./LendStudent"
                       asp-route-sortOrder="@Model.NameSort"
                       asp-route-id="@Model.Book.Id">
                        @Html.DisplayNameFor(model => model.students[0].FullName)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.students[0].Grade.FullName)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade.FullName)
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                            <input type="hidden" name="studentId" asp-for="@item.Id" />
                            @if (@item.Books.Contains(Model.Book))
                            {
                                <div class="form-group">
                                    <input type="submit" value="Прийняти" class="btn btn-primary btn-sm" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <input type="submit" value="Видати" class="btn btn-primary btn-sm" />
                                </div>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Редагувати</a> |
    <a asp-page="./Index">Назад</a>
</div>