@page
@model sms.Pages.Register.DetailsModel

@{
    ViewData["Title"] = "Статистичні дані по класу";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Статистичні дані по @Model.gradeName класу</h1>

<div class="table-responsive col-container text-nowrap" id="schoolTable">
    <table class="table table-hover table-bordered table-striped table-sm" style="width:auto">
        <thead>
            <tr>
                <th scope="col" style="text-align:center" class="col-auto">#</th>
                <th scope="col" style="text-align: center" class="col-auto">
                    <a asp-page="./Details" asp-route-sortOrder="@Model.NameSort"
                       asp-route-year="@Model.selectedYear"
                       asp-route-semester="@Model.selectedSemester"
                       asp-route-gradeId="@Model.selectedGrade">Предмет</a>
                </th>
                <th scope="col" style="text-align: center" class="col-auto">
                    <a asp-page="./Details" asp-route-sortOrder="@Model.MarkSort"
                       asp-route-year="@Model.selectedYear"
                       asp-route-semester="@Model.selectedSemester"
                       asp-route-gradeId="@Model.selectedGrade">Середній бал</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var subject = 0; subject < Model.subjects.Count(); subject++)
            {
                <tr>
                    <th scope="row" style="text-align:center">@(subject+1)</th>
                    <th scope="row">@Model.subjects[subject].Name</th>

                    <td style="text-align:center">
                        @Model.subjects[subject].Avg.ToString("F1")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Statistics">Назад</a>
</div>