@page
@model sms.Pages.Register.DetailsModel

@{
    ViewData["Title"] = "Статистичні дані по класу";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Статистичні дані по @Model.gradeName класу</h1>

<div class="row">
    <table class="col-sm-5 table table-responsive table-hover table-striped table-sm text-nowrap" id="schoolTable">
        <thead>
            <tr>
                <th scope="col" style="text-align:center" class="col-auto">#</th>
                <th scope="col" style="text-align: center" class="col-auto">
                    <a asp-page="./Details" asp-route-sortOrder="@Model.NameSort"
                       asp-route-year="@Model.selectedYear"
                       asp-route-semester="@Model.selectedSemester"
                       asp-route-gradeId="@Model.selectedGrade">Предмет</a>
                </th>
                <th scope="col" style="text-align: center" class="col-auto">
                    <a asp-page="./Details" asp-route-sortOrder="@Model.MarkSort"
                       asp-route-year="@Model.selectedYear"
                       asp-route-semester="@Model.selectedSemester"
                       asp-route-gradeId="@Model.selectedGrade">Середній бал</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var subject = 0; subject < Model.subjects.Count(); subject++)
            {
                <tr>
                    <th scope="row" style="text-align:center">@(subject+1)</th>
                    <th scope="row">@Model.subjects[subject].Name</th>

                    <td style="text-align:center">
                        @Model.subjects[subject].Avg
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-6 offset-sm-1">
        <h4 style="text-align: center">Успішність</h4>
        <canvas id="barChart" width="800" height="700"></canvas>
    </div>
</div>
<div>
    <a asp-page="./Statistics">Назад</a>
</div>

@section scripts{
    <script>
        @* Get query parameters *@
        @* Отримання значень параметрів з рядка адреси *@
        function query_string(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }

        var ctx = document.getElementById('barChart').getContext('2d');

        var year = query_string('year');
        var semester = query_string('semester');
        var gradeId = query_string('gradeId');

        @* Random color generator *@
        @* Генератор випадкових кольорів *@
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        @* Draw bar chart of grade's academic performance *@
        @* Діаграма успішності класу *@
        $.ajax({
            url: "?handler=Data",
            type: "POST",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            dataType: "json",
            data: { 'year': year, 'semester': semester, 'gradeId': gradeId },
            success: function (data) {
                var labels = [];
                var dataresults = [];
                $.each(data, function (index, item) {
                    labels.push(item.name);
                    dataresults.push(item.avg);
                });
                console.log(labels)
                console.log(dataresults)
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Успішність',
                            data: dataresults,
                            backgroundColor: randomColorGenerator,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                suggestedMin: 1,
                                suggestedMax: 12,
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        });
    </script>
}
