@page
@model sms.Pages.Remote.DetailsModel

@{
    ViewData["Title"] = "Деталі";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>
<h4>Завдання</h4>
<hr />
<div class="row">
    <div class="col-sm-auto">
        <div>
            <i class="fas fa-users"></i>
            @Html.DisplayFor(model => model.Assignment.Grade.FullName)
        </div>
        <div>
            <i class="fas fa-book-open"></i>
            @Html.DisplayFor(model => model.Assignment.Subject.Name)
        </div>
        <div>
            <i class="fas fa-calendar-alt"></i>
            @Html.DisplayFor(model => model.Assignment.DateOfPost)
        </div>
        <div>
            <i class="fas fa-chalkboard-teacher"></i>
            @Html.DisplayFor(model => model.Assignment.Teacher.FullName)
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-1" style="overflow-y: auto; max-height: 400px;">
            <div class="card-body">
                <div class="card-header bg-light">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Assignment.Post)</h5>
                </div>
                <p class="card-text" style="white-space: pre-line;">@Html.Raw(Model.Assignment.Post)</p>
            </div>
        </div>
        <div>
            @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Вчитель"))
            {
                <a class="card-link" asp-page="./Edit"
                   asp-route-id="@Model.Assignment.Id"
                   asp-route-pageIndex="@Model.PageIndex">
                    Редагувати
                </a>
                <a class="card-link" asp-page="./Index"
                   asp-route-gradeId="@Model.Assignment.GradeId"
                   asp-route-subjectId="@Model.Assignment.SubjectId"
                   asp-route-pageIndex="@Model.PageIndex">
                    Назад
                </a>
            }
            @if (ViewContext.HttpContext.User.IsInRole("Батьки"))
            {
                <a class="card-link" asp-page="./Index"
                   asp-route-gradeId="@Model.Assignment.GradeId"
                   asp-route-subjectId="@Model.Assignment.SubjectId"
                   asp-route-pageIndex="@Model.PageIndex">
                    Назад
                </a>
            }
        </div>
    </div>
</div>
