@page
@model sms.Pages.Remote.StudentModel
@{
    ViewData["Title"] = "Дистанційне навчання";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Дистанційне навчання</h1>
<div class="container">
    <form method="get">
        <div class="row">
            <div class="col-sm-auto">
                <div class="form-group">
                    <label asp-for="selectedGrade" class="control-label"><i class="fas fa-users"></i></label>
                    <select asp-for="selectedGrade" name="gradeId" style="width:auto" asp-items="Model.GradesSL">
                        <option value="0">Оберіть клас</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-group">
                    <label asp-for="selectedSubject" class="control-label"><i class="fas fa-book-open"></i></label>
                    <select asp-for="selectedSubject" name="subjectId" style="width:auto" asp-items="Model.SubjectsSL" onchange="this.form.submit();"></select>
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th style="text-align: center">
                <a asp-page="./Student"
                   asp-route-sortOrder="@Model.DateSort"
                   asp-route-gradeId="@Model.selectedGrade"
                   asp-route-subjectId="@Model.selectedSubject">
                    @Html.DisplayNameFor(model => model.Assignment[0].DateOfPost)
                </a>
            </th>
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.Assignment[0].Post)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
            <tr>
                <td style="white-space: nowrap">
                    @Html.DisplayFor(modelItem => item.DateOfPost)
                </td>
                <td style="white-space: pre-line">
                    @Html.Raw(item.Post)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Assignment.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Assignment.HasNextPage ? "disabled" : "";
}

<a asp-page="./Student"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-gradeId="@Model.selectedGrade"
   asp-route-subjectId="@Model.selectedSubject"
   asp-route-pageIndex="@(Model.Assignment.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./Student"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-gradeId="@Model.selectedGrade"
   asp-route-subjectId="@Model.selectedSubject"
   asp-route-pageIndex="@(Model.Assignment.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>

@* Fill subject dropdown *@
@* Заповнення випадаючого списку предметів *@
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#selectedGrade").on("change", function () {
                var gradeId = $(this).val();
                $("#selectedSubject").empty();
                $("#selectedSubject").append("<option value=''>Оберіть предмет</option>");
                $.getJSON(`?handler=Subjects&gradeId=${gradeId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#selectedSubject").append(`<option value="${item.value}">${item.text}</option>`);
                    });
                });
            });
        });
    </script>
}
