@page
@model sms.Pages.RolesModel
@{
    ViewData["Title"] = "Повноваження";
}

<h2>Змініть повноваження</h2>

<form method="get">
    <div class="form-action col-md-4">
        <label>Без повноважень</label>
        <input type="checkbox" value="True" data-val="true" onchange="this.form.submit();" data-val-required="The NoRoles field is required." id="noRoles" name="noRoles" @(Html.Raw(Model.NoRoles ? "checked=\"checked\"" : "")) />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userRolesPaginated[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRolesPaginated[0].RoleName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userRolesPaginated)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <form method="post">
                        <span class="form-group col-md-4">
                            <input type="hidden" name="mainid" value="@item.UserId" />
                            <select class="userselect" asp-items="@Model.RoleNameSL" name="rolename" onchange="this.form.submit();">
                                <option selected>@item.RoleName</option>
                                <option>Без повноважень</option>
                            </select>
                            @*<input type="hidden" name="noRoles" value="@Model.NoRoles" />*@
                            @*<input type="hidden" name="noRoles" value="@ViewContext.RouteData.Values["noRoles"]" />*@
                            <input type="hidden" name="@Model.NoRoles" />
                            <input type="hidden" name="@Model.userRolesPaginated.PageIndex" />
                            @*<input type="submit" value="Змінити" class="btn btn-primary" />*@
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.userRolesPaginated.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.userRolesPaginated.HasNextPage ? "disabled" : "";
}

<a asp-page="/Admin/Roles"
   asp-route-noRoles="@Model.NoRoles"
   asp-route-pageIndex="@(Model.userRolesPaginated.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Попередня
</a>
<a asp-page="/Admin/Roles"
   asp-route-noRoles="@Model.NoRoles"
   asp-route-pageIndex="@(Model.userRolesPaginated.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Наступна
</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
            $(function () {
                $(".userselect").change(function () {
                    $(this).closest('form').submit();
                })
            })
        </script>*@
}
