@page
@model sms.Pages.TimeTable.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Slot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Grade.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Teacher.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lesson.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
