@page
@model sms.Pages.TimeTable.EditModel

@{
    ViewData["Title"] = "Редагувати";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редагувати</h1>

<h4>Урок</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lesson.Id" />
            <input type="hidden" asp-for="Lesson.Day" />
            <input type="hidden" asp-for="Lesson.Slot" />
            <input type="hidden" asp-for="Lesson.TeacherId" />
            <div class="form-group">
                <label asp-for="Lesson.Day" class="control-label">День: </label>
                @Model.Lesson.Day
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Slot" class="control-label">№ Уроку: </label>
                @Model.Lesson.Slot
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Teacher.FullName" class="control-label">ПІБ вчителя:</label><br />
                @Model.Lesson.Teacher.FullName
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Room" class="control-label"></label>
                <input asp-for="Lesson.Room" class="form-control" />
                <span asp-validation-for="Lesson.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.GradeId" class="control-label">Клас</label>
                <select asp-for="SelectedGrade" class="form-control" asp-items="Model.GradesList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.SubjectId" class="control-label">Предмет</label>
                <select asp-for="SelectedSubject" class="form-control" asp-items="Model.SubjectNameSL"></select>
                <span asp-validation-for="Lesson.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" /> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.Lesson.Id" role="button">Видалити</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-day="@Model.Lesson.Day">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
