@page
@model sms.Pages.TimeTable.IndexModel
@{
    ViewData["Title"] = "Розклад уроків - вчителі";
}

<h1>Розклад уроків - вчителі</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="get">
                <div class="form-group">
                    <label asp-for="selectedDay" class="control-label"><i class="fas fa-calendar-day"></i></label>
                    <select asp-for="selectedDay" name="day" style="width:auto" asp-items="Model.Days" onchange="this.form.submit();"></select>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <a asp-page-handler="Generate" class="btn btn-secondary" role="button" aria-pressed="true">Згенерувати розклад</a>
        </div>
    </div>
</div>

<div class="table-responsive col-container" id="schoolTable">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" style="text-align:center">ПІБ Вчителя</th>
                @for (var i = 1; i <= 8; i++)
                {
                    <th scope="col" style="text-align:center">
                        @i
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var teacher = 0; teacher < Model.teachers.Count; teacher++)
            {
                <tr>
                    <th scope="row">@Model.teachers[teacher].FullName</th>
                    @for (var slot = 1; slot <= 8; slot++)
                    {
                        <td style="text-align:center">
                            @{
                                var les = @Model.lessons.Where(i => i.TeacherId == Model.teachers[teacher].Id).Where(i => i.Day == Model.selectedDay).Where(i => i.Slot == slot).Select(i => i.Grade.FullName);
                                var empty = (les.Count() == 0);
                                var buttonType = empty ? "btn-light" : "btn-secondary";
                                var link = empty ? "./Create" : "./Edit";
                            }
                            <a asp-page="@link"
                               asp-route-day="@Model.selectedDay"
                               asp-route-slot="@slot"
                               asp-route-teacher="@Model.teachers[teacher].Id"
                               class="btn @buttonType">
                                @if (empty)
                                {<i class="fas fa-plus"></i>}
                                @foreach (var i in les)
                                {@i}
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
