@page
@model sms.Pages.Library.LendStudentModel

@{
    ViewData["Title"] = "Видача і повернення книг";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Видача і повернення книг</h1>

<div>
    <h4>Книга: @Model.Book.Author "@Model.Book.Name. @Model.Book.Grade кл." (@Model.Book.PublishingHouse, @Model.Book.Year)<br />Кількість: @Model.Book.Qty/@Model.Book.TotalQty</h4>
    <hr />
    <div class="row mb-1">
        <div class="col-sm-auto">
            <a class="btn btn-primary" asp-page="./Readers" asp-route-id="@Model.Book.Id"><i class="fas fa-book-reader fa-lg mr-1"></i>Читачі з книгою</a>
            <a asp-page="./LendTeacher" asp-route-id="@Model.Book.Id" class="btn btn-primary ml-1">Персонал</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-auto">
            <form method="get">
                <div class="form-group">
                    <label asp-for="selectedGrade" class="control-label"><i class="fas fa-users"></i></label>
                    <select asp-for="selectedGrade" name="gradeId" style="width:auto" asp-items="Model.GradesSL" onchange="this.form.submit();"></select>
                    <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                </div>
            </form>
        </div>
        <div class="col-sm-auto">
            <form asp-page="./LendStudent" method="get">
                <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                <input type="hidden" name="gradeId" asp-for="@Model.selectedGrade" />
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук" />
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button> |
                        <a asp-page="./LendStudent"
                           asp-route-id="@Model.Book.Id"
                           asp-route-gradeId="@Model.selectedGrade" class="btn btn-default"><i class="fas fa-times"></i></a>
                    </p>
                </div>
            </form>
        </div>

    </div>

    <table class="table table-responsive text-nowrap table-hover">
        <thead style="text-align: center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a asp-page="./LendStudent"
                       asp-route-sortOrder="@Model.NameSort"
                       asp-route-id="@Model.Book.Id"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-gradeId="@Model.selectedGrade">
                        @Html.DisplayNameFor(model => model.Student[0].FullName)
                    </a>
                </th>
                <th scope="col">
                    <a asp-page="./LendStudent"
                       asp-route-sortOrder="@Model.GradeSort"
                       asp-route-id="@Model.Book.Id"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-gradeId="@Model.selectedGrade">
                        @Html.DisplayNameFor(model => model.Student[0].Grade.FullName)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;

                foreach (var item in Model.Student)
                {
                    <tr>
                        <th scope="row">
                            @Model.Student.SeqNum[i]
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade.FullName)
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" asp-for="@Model.Book.Id" />
                                <input type="hidden" name="studentId" asp-for="@item.Id" />
                                <input type="hidden" name="gradeId" asp-for="@Model.selectedGrade" />
                                <input type="hidden" name="pageIndex" asp-for="@Model.Student.PageIndex" />
                                <input type="hidden" name="sortOrder" asp-for="@Model.CurrentSort" />
                                <input type="hidden" name="currentFilter" asp-for="@Model.CurrentFilter" />
                                @if (@item.Books.Contains(Model.Book))
                                {
                                    <div class="form-group">
                                        <input type="submit" value="Повернути" class="btn btn-success btn-sm" style="width: 110px;" />
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <input type="submit" value="Видати" class="btn btn-primary btn-sm" style="width: 110px;" />
                                    </div>
                                }
                            </form>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

</div>

@{
    var prevDisabled = !Model.Student.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Student.HasNextPage ? "disabled" : "";
}

<a asp-page="./LendStudent"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="1"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-id="@Model.Book.Id"
   asp-route-gradeId="@Model.selectedGrade"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-fast-backward"></i>
</a>
<a asp-page="./LendStudent"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Student.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-id="@Model.Book.Id"
   asp-route-gradeId="@Model.selectedGrade"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./LendStudent"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Student.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-id="@Model.Book.Id"
   asp-route-gradeId="@Model.selectedGrade"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>
<a asp-page="./LendStudent"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Student.TotalPages)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-id="@Model.Book.Id"
   asp-route-gradeId="@Model.selectedGrade"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-fast-forward"></i>
</a>

<div class="mt-2">
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Редагувати</a> |
    <a asp-page="./Index">Назад</a>
</div>