@page
@model sms.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Список предметів";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список предметів</h1>

<p>
    <a asp-page="Create"><i class="fas fa-plus-circle fa-lg"></i></a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук"/>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button> |
            <a asp-page="./Index" class="btn btn-default"><i class="fas fa-times"></i></a>
        </p>
    </div>
</form>

<table class="table col-sm-6">
    <thead>
        <tr>
            <th class="col-sm-4">
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Subject[0].Name)
                </a>
            </th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-eye fa-lg"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Subject.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Subject.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Subject.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Subject.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>