@page
@model sms.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Список предметів";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список предметів</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-page="Create"><i class="fas fa-plus-circle fa-lg"></i></a>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук"/>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button> |
            <a asp-page="./Index" class="btn btn-default"><i class="fas fa-times"></i></a>
        </p>
    </div>
</form>

<table class="table table-responsive text-nowrap" style="width:auto">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="text-align: center">
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Subject[0].Name)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.Subject)
            {
                <tr>
                    <th scope="row">
                        @Model.Subject.SeqNum[i]
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-eye fa-lg"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-lg text-danger"></i></a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Subject.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Subject.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Subject.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Subject.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>