@page
@model sms.Pages.Lessons.DeleteModel

@{
    ViewData["Title"] = "Видалити";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити?</h3>
<div>
    <h4>Урок</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Slot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Grade.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Teacher.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lesson.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
