@page
@model sms.Pages.Lessons.IndexModel

@{
    ViewData["Title"] = "Список уроків";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список уроків</h1>

<p>
    <a asp-page="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lesson) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
