@page
@model sms.Pages.Students.EditModel

@{
    ViewData["Title"] = "Редагувати";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редагувати</h1>

<h4>@Model.Student.FullName, учень</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(@Model.Student.ProfilePicture))
            {
                <div class="img-fluid mw-100 h-auto">
                    <img src="~/images/avatars/@Model.Student.ProfilePicture" />
                </div>
            }
        </div>
    </div>
    <form enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Student.Id" />
                <div class="form-group">
                    <label asp-for="Student.LastName" class="control-label"></label>
                    <input asp-for="Student.LastName" class="form-control" />
                    <span asp-validation-for="Student.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.Address" class="control-label"></label>
                    <input asp-for="Student.Address" class="form-control" />
                    <span asp-validation-for="Student.Address" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.FirstName" class="control-label"></label>
                    <input asp-for="Student.FirstName" class="form-control" />
                    <span asp-validation-for="Student.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.GradeId" class="control-label">Клас</label>
                    <select asp-for="Student.GradeId" class="form-control" asp-items="@Model.GradesSL"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.Patronymic" class="control-label"></label>
                    <input asp-for="Student.Patronymic" class="form-control" />
                    <span asp-validation-for="Student.Patronymic" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.DateOfBirth" class="control-label"></label>
                    <input asp-for="Student.DateOfBirth" class="form-control" />
                    <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.ProfilePicture" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="FormFile" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Оберіть файл</label>
                    </div>
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Student.Gender" class="control-label"></label><br />
                    @foreach (var gender in Model.Genders)
                    {
                        <input type="radio" asp-for="Gender" value="@gender" />@gender<br />
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="submit" value="Зберегти" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-page="./Index" asp-route-pageIndex="@Model.PageIndex">Назад</a>
                </div>
            </div>
        </div>
    </form>
</div>

@* Display the name of the selected file *@
@* Відображення назви вибраного файлу *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
