@page
@model sms.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Список учнів";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список учнів</h1>

<p>
    <a asp-page="Create"><i class="fas fa-user-plus fa-lg"></i></a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Пошук по ПІБ"/>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button> |
            <a asp-page="./Index" class="btn btn-default"><i class="fas fa-times"></i></a>
        </p>
    </div>
</form>

<table class="table table-responsive text-nowrap">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Student[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Student[0].DateOfBirth)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Address)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GradeSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Student[0].Grade.FullName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ProfilePicture))
                {<img src="~/images/avatars/@item.ProfilePicture"
                      class="rounded-circle"
                      height="40" width="40"
                      asp-append-version="true" /> 
                }
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-eye fa-lg"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-lg"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Student.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Student.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Student.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fas fa-arrow-alt-circle-left fa-lg"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Student.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    <i class="fas fa-arrow-alt-circle-right fa-lg"></i>
</a>